body {
  margin: 0;
  box-sizing: border-box;
}
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  position: sticky;
  top: 0;
  font-size: 2em;
  display: flex;
  justify-content: center;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover {background-color: #555;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}

header {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.4rem;
  letter-spacing: 2px;
  text-align: center;
  background-color: red;
}
.button {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 15px 20px;
  display: inline-block;
  cursor: pointer;
  font-size: 1.3rem;
  margin-bottom: 25px;
}
.button:hover {
  background-color: #04AA6D;
  border: none;
  color: hsla(0, 0%, 50%, .2);
  padding: 15px 20px;
  display: inline-block;
  cursor: pointer;
  font-size: 1.3rem;
  margin-bottom: 25px;
}

.list_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-width: 350px;
  max-width: 550px;
  padding: 20px;
  min-height: 175px;
  background-color: #DCDCDC;
  border-radius: 30px;
}
.list .txtarea {
  background-color: hsla(0, 0%, 60%, .5);
  border: none;
  border-radius: 25px;
  resize: none;
}
.list #nadpis {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  padding: 16px 0 0 10px;
  width: 100%;
}
.list #opis {
  font-size: 1.4em;
  text-align: justify;
  padding: 16px 0 0 10px;
  width: 100%;
}
.list .zoznam_riadok {
  display: flex;
  flex-direction: row;
}
.zoznam_riadok .poradie{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsla(0, 0%, 60%, .5);
  font-size: 1.4em;
  width: 10%;
  text-align: center;
  line-height: 100%;
  margin-left: 1.5em;
  border-radius: 7px;
}

.zoznam_riadok #zoznam {
  font-size: 1.4em;
  text-align: justify;
  padding: 16px 0 0 10px;
  margin-left: 3em;
  width: 100%;
}

.pridat_prvok {
  background-color: rgb(4,170,109, .85);
  font-size: 1.4em;
  width: 94%;
  text-align: center;
  padding: 10px 0;
  margin-left: 1.5em;
  border: none;
  cursor: pointer;
  border-radius: 25px;
}


footer {
  margin-top: 1000px;
  background-color: black;
  color: #ebe3e3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.5em;
}

.footer-FRow {
  font-size: 25px;
  margin: 0 15px;
}

footer a {
  font-size: 1.2em;
  text-decoration: none;
}
