@font-face {
  font-family: 'AvenueX';
  src: url('../fonts/AvenueX-Regular.otf') format('otf'),

}

body {
  font-family: 'YourFontName', sans-serif;
  margin: 0;
  box-sizing: border-box;
}
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: hsl(158, 95%, 25%);
  position: sticky;
  top: 0;
  font-size: 2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: #ebe3e3;;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
ul.topnav li a:hover {background-color: #024b30;}

@media screen and (max-width: 500px) {
  ul.topnav {
    display: flex;
    flex-direction: column;
  }
}
.button {
  font-size: 1.3rem;
  padding: 0 10px;
  cursor: pointer;
  background-color: #04AA6D;
  color: white;
  border: none;
}
header {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.4rem;
  letter-spacing: 2px;
  text-align: center;
  background-color: hsl(0, 0%, 80%);
  padding: 1px;
  margin-bottom: 1em;
}
.button:hover {background-color: #03724a;}
.selectDiv{
  display: flex;
  justify-content: center;
  margin: 1em;
  font-size: .7rem;
}
.deleteForm {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.list_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}
.list {
  min-width: 350px;
  max-width: 550px;
  padding: 20px;
  min-height: 175px;
  background-color: #DCDCDC;
  border-radius: 30px;
}
.txtarea {
  background-color: hsla(0, 0%, 60%, .5);
  border: none;
  border-radius: 25px;
  resize: none;
  margin: 8px 0;
}
.nadpis {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  overflow-x: auto;
  padding: 10px 0 10px 10px;
  width: 100%;
}
.list .opis {
  font-size: 1.4em;
  text-align: justify;
  overflow-x: auto;
  padding: 10px 0 10px 10px;
  width: 100%;
}
.list .zoznam_riadok {
  display: flex;
  flex-direction: row;
}
.zoznam_riadok .poradie{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsla(0, 0%, 60%, .5);
  font-size: 1.4em;
  width: 10%;
  text-align: center;
  line-height: 100%;
  margin-left: 1.5em;
  border-radius: 7px;
}
.zoznam_riadok .zoznam {
  font-size: 1.4em;
  text-align: justify;
  margin-left: 3em;
  padding: 10px 0 10px 10px;
  overflow: auto;
  min-width: 66%;
}
.pridat_prvok {
  background-color: hsla(158, 95%, 34%, 0.85);
  font-size: 1.5em;
  width: 94%;
  text-align: center;
  letter-spacing: 2px;
  padding: 10px 0;
  margin: 8px 0 8px 1.5em;
  border: none;
  cursor: pointer;
  border-radius: 25px;
}
.pridat_prvok:hover {
  background-color: #024b30;
}

footer {
  display: flex;
  justify-content: space-between;
  font-size: 1.5em;
  margin-top: 800px;
  padding: 12px;
  background-color: #024b30;
  color: #ebe3e3;
  text-decoration: none;
}
footer a {
  font-size: 1.2em;
  color: #ebe3e3;
  text-decoration: none;
}
